@{
    Layout = "_Layout";
}
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<article id="topo_historia">
    <div>
        <h2>Propósitos</h2>
        <p>
            A Empresa possui inumeros propósitos com o seu público
            <br />
            e consigo mesma. Além de querer a melhor experiência usuario
            <br />
            através de interfaces mais belas e leves e processamentos ágis.
            <br />
            Proucuramos trazer Satisfação ao dia do cliente, de modo
            <br />
            que quem experimente nossos produtos fiquem satisfeito com
            <br />
            os resultados.
        </p>
    </div>
</article>
</header>

<main>
    <section id="quem_somos">
        <div class="lado_claro">
            <!--lado esquerdo-->
            <h3 class="h3">Quem somos?</h3>

            <div class="txt">
                <div class="div_1 div_1_quemsomos">
                    <p>
                        A Agora Vai é uma Empresa de desenvolvimento de softwares.
                        Em sua carreira tecnológica, os três idealizadores Carlos Eduardo Tsukamoto, César
                        Sportore e Gabriel Rodrigues Amador construiram um negócio voltado na área de TI,
                        e hoje a Ponto Digital é uma empresa de médio porte que nos ultimos três anos vem
                        crescendo exponencialmente. A Empresa possui 20 anos no mercado e atrai olhares
                        de investidores;
                    </p>
                </div>
                <div class="div_2 div_2_quemsomos">
                    <p>
                        A missão da nossa empresa é fornecer soluções para empresas de e-commerce e
                        Internet. Nossos principais clientes são empresas de pequeno e médio porte quem
                        estão buscando ascensão como a empresa Mc Bonald's e C.A. Enterprises, na cidade
                        de São Paulo, atualmente contamos com 200 funcionários.
                    </p>
                </div>
            </div>
        </div>

        <div class="lado_escuro imagem_quem_somos">
            <!--lado direio-->
            <img id="img_quem_somos" src="Imagens/quem_somos.png" alt="Imagem meramente ilustrativa" height="400px"
                width="90%;">
        </div>
    </section>

    <div class="linha_vertical">.</div>
    <!--LINHA DE SEPARAÇÃO HORIZONTAL-->

    <section id="como_surgiu">
        <div class="lado_claro">
            <img src="Imagens/como_surgiu.png" id="img_como_surgiu" alt="Imagem meramente ilustrativa" width="70%"
                height="400px">
        </div>

        <div class="lado_escuro">
            <h3 class="h3">Como surgiu?</h3>

            <div class="txt">
                <div class="div_1 div_1_comosurgiu">
                    <p>
                        Em 1999 a idéia de criar uma empresa de e-commerce foi iniciada na pratica que em breve
                        se tornaria a empresa Agora Vai, desenvolvedora de mais de 27 Softwarwes. Tudo começou a
                        partir de um projeto de TCC propostro por uma instituição de ensino técnico. Após serem
                        nomeados como primeiro lugar em 3 competições nacionais sobre novas tecnologias inovadoras
                        para o mercado liquido do século vinte por intermédio desse trabalho acadêmico, apostaram
                        de fato na fundação física da empresa.
                    </p>
                </div>
                <div class="div_2 div_2_comosurgiu">
                    <p>
                        Houve inúmeros problemas na manutenção e estabilização da empresa no mercado, porém
                        o principio da empresa a manteve de pé, e hoje (2019) passamos por um periodo de ascenção.
                        Na Avenida Barão de Limeira o primeiro prédio foi contruido e hoje vem recebendo novos
                        upgrades, contamos com quatro andares mas o negócio é mais presente na Internet;

                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="linha_vertical">.</div>
    <!--LINHA DE SEPARAÇÃO HORIZONTAL-->

    <section id="nossa_equipe">
        <div class="lado_claro">
            <h3 class="h3">Nossa Equipe</h3>

            <div>
                <div class="div div_1 div_1_nossaequipe">
                    <p>
                        Tá sentindo falta de alguma coisa? O Kindle, que é o eReader mais famoso do mercado,
                        começou a ser planejado ainda em 2004 sob o codinome Fiona. O nome significa "acender um
                        fogo" e, segundo quem bolou a ideia, tem a ver com o estímulo intelectual da leitura.
                        Mais tarde, o Kindle DX com tela de 9,7 polegadas foi apresentado, mas não fez tanto
                        sucesso. Mais tarde, o Kindle DX com tela de 9,7 polegadas foi apresentado, mas não fez
                        tanto
                        sucesso. Mais tarde, o Kindle DX com tela de 9,7 polegadas foi apresentado, mas não fez
                        tanto
                        sucesso.
                    </p>
                </div>
                <div class="div div_2 div_2_nossaequipe">
                    <p>
                        O lançamento em 2007 foi um estouro. O primeiro modelo tinha um teclado físico e não era
                        touchscreen, mas já trazia uma tela de e-ink de 6 polegadas. O estoque dele só durou 5
                        meses. Mais tarde, o Kindle DX com tela de 9,7 polegadas foi apresentado, mas não fez tanto
                        sucesso. Mais tarde, o Kindle DX com tela de 9,7 polegadas foi apresentado, mas não fez
                        tanto
                        sucesso.
                    </p>
                </div>
            </div>

        </div>

        <div class="lado_escuro imgs_equipe">
            <img class="img_equipe img_equipe_1" src="Imagens/Tsuka_Master.jpeg"
                alt="Imagem de Tsukamoto - Um dos chefes da empresa" width="40%" height="400px">

            <img class="img_equipe img_equipe_2" src="Imagens/The_Cesar.jpeg"
                alt="Imagem de Tsukamoto - Um dos chefes da empresa" width="40%" height="400px">
        </div>
    </section>

    <section id="sede">
        <div class="fundo_amarelo">
            <h3 class="h3_amarelo">Local</h3>
            <p>
                Na cidade de São Paulo, precisamente no centro urbano
                próximo ao metrô Santa Cecilia, linha Vermelha.
                01202-001
                Av.Alameda Barão de Limeira, 539 - Campos Elíseos

            </p>
        </div>

        <div>
            <a><img
                    src="Imagens/local.png" id="img_sede" alt="Imagem da sede da empresa" height="400px"
                    width="90%"></a>
        </div>

        <div class="fundo_amarelo">
            <h3 class="h3_amarelo">Ponto de referência</h3>
            <p>
                Próximo a Galeria São Paulo - SP, 01207-001.
                R. Santa Ifigênia, 364 - Santa Ifigênia, São Paulo
            </p>
        </div>
    </section>

    <section id="maps">
        <iframe id="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
            width="90%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

</main>