@{
    Layout = "_Layout";
}
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<main class="testePadding">
    <h2 class="h2_Cadastro"> @ViewData["nomeCadastrado"], Obrigado Por Se Cadastrar! </h2> 
</main>